body {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 100%;
	width: 100%;
	text-align: center;
}

h1 {
	margin: 0px;
	padding: 10px;
	font-size: 170%;
}

table {
	border-collapse: collapse;
	text-align: center;
}

table, th, td { border: 1px solid #bbb }

th, td { padding: 3px }

th {
	background-color: #d80;
	color: white;
}

tr { background: white }

tr:hover { background-color: #ddf }

.center {
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 5px;
}

#paramFirstDuration, #paramLastDuration {
	width: 50px;
}

#infoStopPanel {
	color: red;
}

#infoError {
	color: red;
}

#infoTable {
	margin-top: 10px;
}

.infoValue {
	font-weight: bold;
}

#infoCongratulations {
	font-weight: bold;
	color: blue;
}

#footer {
	padding: 6px 10px 6px 10px;
	font-style: italic;
	font-size: 0.8em;
	font-style: italic;
	padding: 16px 10px 6px 10px;
	color: #888;
}

#footer a {
	color: #888;
}